{% extends "template.html" %}
{% block maincontent %}
    <body>
    <h1 align="center">Student information</h1>
        <div style="padding-left:180px">

            <table border="1px" style="border-collapse: collapse;width:80%;">

                <thead>
                    <th>
                        id
                    </th>
                    <th>
                        FullName
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        NationId
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        UserName
                    </th>
                    <th>
                        Password
                    </th>
                     <th>
                        Edit
                    </th>
                     <th>
                        Delete
                    </th>
                </thead>
                    <tbody>
                    {% for student in students %}
                        <tr style="text-align: center">
                            <td>{{ student.id }}</td>
                            <td>{{ student.full_name }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.address }}</td>
                            <td>{{ student.nation_id }}</td>
                            <td>{{ student.phone }}</td>
                            <td>{{ student.user_name }}</td>
                            <td>{{ student.password }}</td>
                            <td><a href="{% url "update" pk=student.pk %}">Edit</a></td>
                            <td><a href="{% url "delete" pk=student.pk %}">delete</a></td>
                        </tr>
                     {% endfor %}
                    </tbody>

            </table>
        </div>
    </body>

{% endblock maincontent %}





